export(KL_divergence_hist)
export(debug_print)
export(fit_param_dist)
export(is_package_available)
export(is_wholenumber)
export(one_hot_encode)
export(parfor)
export(rm_zero_cols)
export(scale_matrix)
export(sort_df)
export(split_data)
export(splitts)
export(timeit)
export(vlookup)
export(winkler_score)

importFrom("stats", "model.frame", "model.matrix", "model.response", "terms")
importFrom("MASS", "ginv")